@media (min-width: 768px) {
  .form-big {
    width: 60%;
    margin: auto;
  }
}

.input {
  border-radius: 20px;
  border-width: 0px;
}

#side-menu {
  background-color: #fed136;
}

#login-form {
  width: 70%;
}

@media (min-width: 992px) {
  #login-form {
    width: 40%;
  }
}

#form {
  width: 90%;
}

@media (min-width: 992px) {
  #form {
    width: 50%;
  }
}

#secondary{
  border-width: 1px;
  border-color: #fed136;
}

#dash-link {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

#dash-card {
  border-radius: 50px;
  border-width: 0px;
  font-family: Montserrat, sans-serif;
  color: #545454;
  background-color: #fed136;
}

#dashboard {
  margin-top: 100px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
