{% extends "layout.html" %}
{% block content %}
    <section class="d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center">
        <h1 class="text-center d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center" style="width: 90%;font-family: Montserrat, sans-serif;"><strong>You don't have permission to do that (403)</strong></h1>
        <p class="text-center d-xl-flex justify-content-xl-center">Please check your account and try again</p>
    </section>
{% endblock content %}