{% extends "layout.html" %}
{% block content %}
    <section class="d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center">
        <img src="static\img\500.png" alt="500 Error! Server Side Error..." height="400px">
        <h1 class="text-center d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center" style="width: 90%;font-family: Montserrat, sans-serif;"><strong>It's not you! It's us..</strong><br></h1>
        <p class="text-center d-xl-flex justify-content-xl-center">We're experiencing some trouble on our end. Please try again in the near future</p>
        <div class="" >
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="d-flex d-lg-flex justify-content-lg-center justify-content-center alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            
          </div>
        </div>
    </section>
{% endblock content %}a