{% extends "layout.html" %}
{% block content %}
<main role="main" class="container" style="margin-top: 59px;">
    <div class="row d-flex d-lg-flex justify-content-lg-center justify-content-center" style="padding-top: 10px">
      <div class="col-md-8" >
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="d-flex d-lg-flex justify-content-lg-center justify-content-center alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
      </div>
    </div>
  </main>
  <section class="content-section"style="margin: auto">
      <form method="POST" id="login-form" action=""style="margin: auto;margin-top:-20px">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <h1 class="text-center" style="color: rgb(254,209,54);margin-bottom: 35px;">Contact Us</h1>
              <div class="form-group">

                  {% if form.email.errors %}
                      {{ form.email(class="form-control shadow input is-invalid",placeholder="Enter Email ID") }}
                      <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.email(class="form-control shadow input",placeholder="Enter Email ID") }}
                  {% endif %}
              </div>

              <div class="form-group">

                    {% if form.name.errors %}
                        {{ form.name(class="form-control shadow input is-invalid",placeholder="Enter Your Name") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control shadow input",placeholder="Enter Your Name") }}
                    {% endif %}
                </div>
                <div class="form-group">
                        {% if form.content.errors %}
                            {{ form.content(class="form-control shadow input is-invalid",placeholder="Message",rows="5") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.content(class="form-control shadow input",placeholder="Message",rows="5") }}
                        {% endif %}
                    </div>
              
              
          </fieldset>
          <div class="form-group d-flex d-lg-flex justify-content-lg-center justify-content-center">
              {{ form.submit(class="btn btn-primary shadow input") }}
          </div>
      </form>
  </section>
{% endblock content %}