{% extends "layout.html" %}
{% block content %}
    <header class="masthead" style="background-image: url('static/img/header-bg.jpg');height: 100vh;">
        <div class="container">
            <div class="intro-text" style="height: 100vh;">
                
                {% if current_user.is_authenticated %}
                <div class="intro-lead-in"  ><span>Welcome Back, {{current_user.username}}!</span></div>
                <div class="intro-heading text-uppercase"><span>It's Nice To See You Again</span></div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="{{url_for('dashboard')}}" style="color: rgb(52,58,64);">Go to Dashboard</a>
                {% else %}
                <div class="intro-lead-in"><span>Welcome To Website!</span></div>
                <div class="intro-heading text-uppercase"><span>It's Nice To Meet You</span></div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="{{url_for('survey')}}" style="color: rgb(52,58,64);">Take Our Survey</a>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock content %}