<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% if title %}
        <title>Brand - {{ title }}</title>
    {% else %}
        <title>Brand</title>
    {% endif %}
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- {{ url_for('static', filename='main.css') }} -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <!-- <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Team-Clean.css">
    <link rel="stylesheet" href="assets/css/untitled-1.css">
    <link rel="stylesheet" href="assets/css/untitled.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Contact-Form-Clean.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-better-nav.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Team-Clean.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='untitled-1.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='untitled.css') }}">
</head>

<body id="page-top" style="height: 100vh;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav" style="height: 60px;">
        <div class="container"><a class="navbar-brand" href="/">Brand</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    

                    {% if current_user.is_authenticated %}
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{{ url_for('createmonth') }}">Create Month</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{{ url_for('addquestion') }}">Add Question</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{{ url_for('quiz') }}">Quiz Of The Month</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{{ url_for('about') }}">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{{ url_for('team') }}">Team</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{{ url_for('contact') }}">Contact</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <!-- <script src="assets/js/jquery.min.js"></script> -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <!-- <script src="assets/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='agency.js') }}"></script>
    <!-- <script src="assets/js/agency.js"></script> -->
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>

</html>
