{% extends "layout.html" %}
{% block content %}
    <section id="login-form" style="margin: auto;">
        <form class="d-lg-flex flex-column justify-content-lg-center" method="post" style="font-family: Montserrat, sans-serif;" action="">
            <h1 class="text-center" style="color: rgb(254,209,54);margin-bottom: 35px;">Enter Master Password</h1>
            <div class="form-group">
                {{ form.master_password(class=" shadow form-control input", placeholder="Enter the Master Password") }}
            </div>
            <div class="form-group d-flex d-lg-flex justify-content-center justify-content-lg-center">
                {{ form.submit(class="btn btn-primary shadow input") }}
            </div>
        </form>
    </section>
{% endblock content %}